[Unit]
Description=Glances API for Home Assistant
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/glances -w --disable-webui --bind 192.168.4.76
Restart=on-failure
DynamicUser=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
